body {
	background: rgb(0, 153, 0);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}
#wrap {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 50vmax;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: center;
}
#playfield {
	height: auto;
	margin: 3vh 0;
}
.layer {
	width: 28vh;
	height: 28vh;
	margin-top: -3vh;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
}
.one {
	z-index: 3;
}
.two {
	z-index: 2;
}
.three {
	z-index: 1;
}
.grid {
	width: 100%;
	height: 100%;
}
.grid tr {
	height: 33%;
}
.button {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
}
.button:hover {
	background: rgba(255, 255, 255, 0.9);
}

.x, .x:hover, .o, .o:hover {
	animation: jump .5s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.x, .x:hover {
	background-image: url("./assets/image/cross.svg");
}
.o, .o:hover {
	background-image: url("./assets/image/circle.svg");
}

@keyframes jump {
	0%{
	  transform: translate(0,0);
	}
	4%{
	  transform: translate(0,0);
	}
	40%{
	  transform: translate(-3vh,3vh);
	}
	50%{
	  transform: translate(0,0);
	}
	60%{
	  transform: translate(-1.5vh,1.5vh);
	}
	80%{
	  transform: translate(0,0);
	}
	100%{
	  transform: translate(0,0);
	}
  }

#score-container {
	display: flex;
	justify-content: space-evenly;
}

#score-container > * {
	font-size: 10vh;
	color: rgb(255, 255, 255);
	text-align: center;
	width: 40%;
}

#score-container .x {
	background-color: rgb(0, 0, 255);
}
#score-container .o {
	background-color: rgb(255, 0, 0);
}
